.navList {
  display: flex;
  column-gap: 10px;
}

.navItem {
  position: relative;
}

.navImg {
  width: 120px;
  height: 30px;
}
.link {
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem:hover {
  transform: translateY(-2px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .navImg {
    width: 70px;
    height: 25px;
  }
  .link {
    font-size: 9.5px;
  }
}
