.navList {
  display: flex;
  column-gap: 10px;
}

.navItem {
  position: relative;
}

.navImg {
  width: 120px;
  height: 30px;
}
.link {
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}
