.lobi2Main {
  padding-top: 17px;
  display: flex;
  column-gap: 11px;
  /* height: 100vh; */
  height: calc(100vh - 100px); 
}

.mainContent {
  width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 11px;
}