.salonChat {
  border-radius: 45px 45px 0 0;
  overflow: hidden;
  position: relative;
}
.salonChatHead {
  background: #134967;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
}
.salonChatHead h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.salonHeadControl {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cleanBtn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(to bottom, #2B89BC 100%, #fff -90%);
  box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 3px 12px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.zoomIcon, .closeChatIcon, .sendIcon {
  width: 20px;
  height: 20px;
}


.salonChatBody {
  padding: 10px 28px;
  overflow: scroll;
  height: 100%;
  position: relative;
  background-color: #fff;
  height: 100px;
  border-left: 10px solid #134967;
  border-right: 10px solid #134967;
}

.salonChatBottom {
  position: sticky;
  left: 0;
  bottom: 0;
  border: 10px solid #134967;
  border-radius: 45px 45px 0 0;
  display: flex;
}