.onlineUsers {
  border: 5px solid #0F394F;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.onlineUsersHead {
  background: linear-gradient(to bottom, #38899E, #043C57);
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio {
  background-color: #D3841F;
  height: 20px;
  border-radius: 5px;
  width: 124px;
}

.onlineUsersHead h3 {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}


.onlineUsersBody {
  border-top: 5px solid #104360;
  background: linear-gradient(to top right, #35869B, #0F4261);
  height: 100%;
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}