.controlButtons {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.controlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: relative;
  transition: .3s;
  border: none;
  cursor: pointer;
  width: 46px;
  height: 40px;
}
.controlButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b8ee0;
  border-radius: 5px;
  top: 0;
  left: 0;
}
.controlButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #054ee8;
  border-radius: 5px;
  top: 7px;
  left: 0;
}
.controlButton:hover {
  transform: translateY(-5px);
}
.controlIcon {
  position: relative;
  z-index: 1;
  /* width: 43px;
  height: 43px; */
}
