.homeMain {
  margin-top: 30px;
  display: flex;
  column-gap: 100px;
}
.buttonContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.buttonContainer * {
  width: 195px;
  height: 42px;
  border: 0;
  font-size: 13px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.buttonContainer *:hover {
  transform: scale(0.98);
  transition: transform 0.8s ease-in-out;
}

.buttonContainer .guesBtn {
  background: #ff7c04;
}

.facebookBtn {
  background: #3a40b5;
  display: flex;
  column-gap: 6px;
}

.googleBtn {
  background: #d82842;
  display: flex;
  column-gap: 8px;
}

.loginBtn {
  background: #7d4aee;
}

.registerBtn {
  background: #d41431;
}
.icon {
  width: 11px;
  height: 20px;
}

.playerCount {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: #295456;
  border-radius: 5px;
  display: flex;
  column-gap: 5px;
  padding: 7px 9px;
  font-weight: 900;
  line-height: 9px;
  letter-spacing: 0em;
  text-align: left;
}

.playerCount p,
.playerCount span {
  font-size: 14px;
  color: #f5b60f;
}
.playerCount span {
  color: #fff;
}

.playerCount *:hover {
  transform: scale(0.98);
  transition: transform 0.4s ease-in-out;
}

.right {
  width: 100%;
  position: relative;
}
.adverst {
  background: #88adb880;
  height: 152px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.giftImage {
  position: absolute;
  bottom: 14px;
  left: -40px;
  width: auto;
  height: 180px;
}
