.gameSalon {
  overflow: hidden;
  height: 96%;
  width: 100%;
  border: 5px solid #2d7589;
  border-radius: 20px 20px 0 0;
}
.gameSalonHead {
  background-color: #2d7589;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.gameSalonName {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    179.82deg,
    rgb(255, 255, 255) -215.524%,
    rgb(45, 117, 137) 98.274%
  );
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.gameSalonName span {
  color: #f5a91b;
}

.nowPlayBtn {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180.41deg,
    rgb(255, 255, 255) -32.581%,
    rgb(244, 163, 12) 96.565%
  );
  padding: 3px 5px;
  font-size: 15px;
  font-weight: 700;
  color: #774103;
  transition: 0.3s;
  cursor: pointer;
}
.nowPlayBtn:hover {
  transform: translateY(-3px);
}

.tableSearch {
  position: relative;
  display: flex;
  align-items: center;
}
.tableSearch input {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) -162.5%,
    rgb(45, 117, 137) 100%
  );
  padding: 3px 5px 3px 26px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
  border: none;
  width: 92px;
}
.tableSearch input::placeholder {
  color: #fff;
  font-weight: 400;
}
.searchIcon {
  position: absolute;
  /* width: 20px;
  height: 20px; */
  left: 8px;
}

.gameSalonBody {
  padding: 0 20px;
  overflow: scroll;
  height: 100%;

  position: relative;
}
.gameSalonBody::-webkit-scrollbar {
  width: 13px;
  background: green;
  border-radius: 10px;
}
.gameSalonBody::-webkit-scrollbar-track {
  background: #2d7589;
  border-radius: 20px;
  border: 2px solid #0d425e;
  width: 13px;
}
.gameSalonBody::-webkit-scrollbar-thumb {
  background: #76a5b2;
  border-radius: 20px;
}

.tableCardsCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 0px;
}

.salonChatCon {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1250px) {
  .tableCardsCon {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nowPlayBtn {
    font-size: 10px;
  }
  .tableCardsCon {
    gap: 10px;
  }
  .gameSalon {
    height: 100%;
  }
}
@media (max-width: 923px) {
  .tableCardsCon {
    gap: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nowPlayBtn {
    font-size: 10px;
  }
  .tableCardsCon {
    gap: 3px;
  }
}
