.buttonContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.buttonContainer * {
  width: 195px;
  height: 42px;
  border: 0;
  font-size: 13px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.buttonContainer *:hover {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: 0.8s ease-in-out;
}

.buttonContainer .guesBtn {
  background: #ff7c04;
}

.facebookBtn {
  background: #3a40b5;
  display: flex;
  column-gap: 6px;
}

.googleBtn {
  background: #d82842;
  display: flex;
  column-gap: 8px;
}

.loginBtn {
  background: #7d4aee;
}

.registerBtn {
  background: #d41431;
}
.icon {
  width: 11px;
  height: 20px;
}

@media (max-width: 768px) {
  .buttonContainer * {
    width: 125px;
    font-size: 8px;
    height: 30px;
  }
  .icon {
    display: none;
  }
}
/* aside end  */

.adverst {
  background: #88adb880;
  height: 152px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.giftImg {
  position: relative;
  width: 230px;
  height: 200px;
  left: -40px;
  bottom: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
}
.title,
.subTitle {
  font-size: 22px;
  font-weight: 900;
  line-height: 20px;
  color: #ffe834;
}

.subTitle {
  font-size: 11px;
  color: #fff;
}

.pokerImage {
  width: auto;
  height: 220px;
  margin-top: 30px;
}

/* advertising end*/
.playersContainer {
  background: #88adb880;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.filterContainer {
  display: flex;
  column-gap: 5px;
}
.filterBtn {
  border-radius: 5px, 5px, 0px, 0px;
  border: 1px;
  opacity: 0.7px;
  background-color: #b91f32;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0em;
  padding: 8px 2px;
  border: 1px solid #8ebdbf;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
}

.filterActive {
  background-color: #de6d79 !important;
}
/* players end */

@media (max-width: 992px) {
  .adverst {
    height: 110px;
  }
  .giftImg {
    width: 170px;
    height: 150px;
    left: -30px;
    bottom: 15px;
  }

  .pokerImage {
    width: auto;
    height: 160px;
  }

  .title {
    font-size: 15px;
    line-height: 15px;
  }

  .subTitle {
    font-size: 10px;
    line-height: 9.2px;
    margin-top: 3px;
  }

  .playersContainer {
    background: #88adb880;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .filterBtn {
    font-size: 10px;
  }
}
