.footer {
  width: 100%;
}

.footerContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.linkContainer {
  display: flex;
  column-gap: 25px;
}
.link {
  color: #fff;
  font-weight: normal;
  font-size: 15px;
  background-color: inherit;
  border: 0;
  text-decoration: underline;
}

.link:hover {
  transform: scale(0.99);
  transition: transform 0.3s ease-in-out;
}

.title {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}

.title:hover {
  color: red;
  transition: color 0.6s ease-in-out;
}

.icons {
  display: flex;
  column-gap: 9px;
  align-items: center;
}

.iconApple {
  width: 75px;
  height: 28px;
}

.iconPlay {
  width: 85px;
  height: 33px;
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 950px) and (orientation: landscape) {
  .footer {
    margin-top: 50px;
  }
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #4b424f;
}

.head h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.content {
  width: 87%;
  margin: 0 auto;
  background: #4b424f;
  height: 153px;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 35px;
}

.contentContainer {
  width: 87%;
  margin: 0 auto;
  overflow: auto;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #fff;
  scrollbar-color: #6c5078 #2d2430;
  scrollbar-width: 1;
  padding-right: 10px;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  background: #6c5078;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  padding: 7px 10px;
  border-radius: 5px;
  border: 0;
  width: 84px;
  padding: 10px 0;
  margin: 25px 0;
}

.btn:hover {
  transform: scale(0.95);
  transition: transform 0.8s ease-in-out;
}

@media (max-width: 600px) {
  .head h2 {
    font-size: 13px;
  }
  .contentContainer {
    font-size: 12px;
  }
  .btn {
    font-size: 11.5px;
    margin: 15px 0;
  }
}
