.userCard {
  display: flex;
  align-items: center;
}

.userImgCon {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#d9d9d9, #ffd148, #fae9b8) border-box;
  border: 5px solid transparent;
  display: inline-block;
}

.userImage {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  border-radius: 0px 40px 40px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgb(16, 98, 205), rgb(95, 191, 250) 100%);
  padding: 4px 24px;
}

.userInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.username {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.userLevel {
  display: flex;
  align-items: center;
  background-color: #222222;
  border: 1px solid #75c2ff;
  border-radius: 5px;
  padding: 4px 35px;
  position: relative;
}
.starIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -5px;
}
.levelText {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}
.userInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.coinBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 2px 2px 0 2px 2px;
  background: linear-gradient(
    to bottom,
    #1885d2,
    #1885d2 50%,
    #0c7ac9 50%,
    #0c7ac9
  );
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.coinText {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.diamondIcon {
  width: 28px;
  height: 28px;
  margin-left: 6px;
}
.coinIcon {
  width: 36px;
  height: 36px;
}
.plusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #72b0be;
  border-radius: 5px;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.plusButton:hover {
  transform: scale(1.2);
}
.plusIcon {
  /* width: 14px;
  height: 14px; */
}

@media (max-width: 1280px) {
  .userImgCon {
    width: 44px;
    height: 44px;
  }
  .userInfo {
    gap: 18px;
    padding: 3px 11px;
  }

  .userInfoLeft {
    gap: 7px;
  }

  .username {
    font-size: 8px;
  }
  .userLevel {
    padding: 2px 18px;
  }
  .starIcon {
    width: 20px;
    height: 20px;
    left: -5px;
  }
  .levelText {
    font-weight: 700;
    font-size: 12px;
  }
  .userInfoRight {
    display: flex;
    gap: 5px;
  }
  .coinBox {
    gap: 6px;
    padding: 2px 2px 0 2px 2px;
  }
  .coinText {
    font-size: 8px;
  }
  .diamondIcon {
    width: 14px;
    height: 14px;
    margin-left: 3px;
  }
  .coinIcon {
    width: 18px;
    height: 18px;
  }
  .plusButton {
    height: 12px;
    width: 12px;
  }
}
