.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(21, 105, 215);
  margin: auto;
  height: 100%;
  flex-direction: column;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 50px;
  padding: 5px;
}
.headers {
  display: inline-block;
}
.scoreHeadm {
  font-size: 24px;
  color: #fff;
}

.button {
  border-radius: 5px;
  height: 40px;
  width: 140px;

  cursor: pointer;
  color: #fff;
  background-color: #393535d2;
  margin-right: 6px;
  font-size: 14px;
  transform: skewX(-10deg);
}

.button.activeTab {
  background-color: #d38912;
}

.tabContent {
  display: none;
}

.tabContent.active {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 480px;
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(21, 105, 215);
    margin: auto;
    height: 100%;
    flex-direction: column;
    margin-top: 10px; /* Tab container'ın altında bir boşluk bırakmak için */
  }

  .tabContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 25px;
    padding: 5px;
  }
  .headers {
    display: inline-block;
  }
  .scoreHeadm {
    font-size: 12px;
    color: #fff;
  }

  .button {
    border-radius: 5px;
    height: 20px;
    width: 71px;

    cursor: pointer;
    color: #fff;
    background-color: #393535d2;
    margin-right: 6px;
    font-size: 7px;
    transform: skewX(-10deg);
  }

  .button.activeTab {
    background-color: #d38912;
  }

  .tabContent {
    display: none;
  }

  .tabContent.active {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 212px;
    overflow-y: auto;
  }

  /* table*/
}
