@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url("./reset.css");

* {
  font-family: "Koh Santepheap", serif;
}
input {
  outline: none;
}

body {
  background: url(../public/background.svg) rgb(54, 45, 45) 100%;
  flex-shrink: 0;
  width: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}